## Introduction to Python- Beginner- My first python class

This notebook covers basic of python

1. Basic
    - Types &  variables
    - Types Functions
    - Input
    - Quote display & Boolean
    - String Formatting & "in" Keyword
    
2.  Input
    - input() - gathering  user input
    - print() formatting
    - quotes inside strings
    - Boolean string tests methods
    - string formatting methods
    - Boolean in keywords
    
3. Conditionals
    - compare operation
    - string comparion
    - condition elif and casting
    - math operation
    - conditional pratice
    
4. Nesting and Loops
    -  nested conditional
    - escape sequence
    - while loop and incrementing
    - while Boolean loops
    -

In [1]:
# First code print statement

print("Hello World!")

Hello World!

In [2]:
# Comments- This is Hello world!

print("Hello World!")

Hello World!

In [3]:
# What is string- a sequence of characters.(a, b, c, d etc.)
# printing string using single or double quotes

print('strings go in single')
print("or double quotes")

strings go in single
or double quotes

In [6]:
#Integer are another type
# Integer are not placed in quotes

print(299)
print("2017")
print (127)

299
2017
127

In [9]:
#variable & storing strings in variables 

#variable assignment

student_name = 'Sunita Inderjit'

#variable echo
student_name

#Literal string print

print('Sunita Inderjit')

#Variable string print
print(student_name)

Sunita Inderjit
Sunita Inderjit

In [10]:
#variable reassignment
print(student_name)
student_name = 'Gopal'
print(student_name)

Sunita Inderjit
Gopal

In [11]:
student_name

'Gopal'

In [13]:
# data types
# string and integer object are data types

name = "Kumesh"
print(name)

test_value = 22
print(test_value)

test_value = 'kelsey'
print(test_value)

Kumesh
22
kelsey

In [18]:
# Using type
# using the python type()function - str(string) -int(integer)-float(floating point decimal)

print(type(5))
type("sunita")

<class 'int'>

str

In [19]:
type(0.4)

float

In [20]:
type(5)

int

In [21]:
student = 12345
type(student)

int

## Addition: numbers and string

In [22]:
3.4 + 9.1

12.5

In [24]:
"my name is" + " Sunita"

'my name is Sunita'

In [26]:
print("Hello, " + "my name is" +" Sunita")

Hello, my name is Sunita

In [27]:
shoe_color = "brown"
"My shoe color is " + "shoe_color"

'my shoe color is shoe_color'

In [31]:
name = "Sunita"
fav_color = "blue"
fav_food = "pizza"
fav_place = "vrindavan"

In [32]:
fav_food

'pizza'

## Variable Addition

In [35]:
#assignment_addition

first_name = " Sunita!"
greeting = "Happy Birthday" + first_name
print(greeting)

Happy Birthday Sunita!

In [36]:
greeting_today = greeting + ", today is the day!"
print(greeting_today)

Happy Birthday Sunita!, today is the day!

In [37]:
add_two = 34 + 16
add_four = add_two + add_two
print(add_four)

100

## ERROR TYPES

In [ ]:
# Type Error = can't convert 'int' object to str implicitly
# example = str + str 
# int + int

#SyntaxError- break code formatting rules of python
#NameError - object is not defined ( can't be found)

#EOF = "end of file" found in code below
#Python went to the end of the file looking for, but not finding, a closing parenthesis

## Input() strings: input, testing, formatting

 Input
    - input() - gathering  user input
    - print() formatting
    - quotes inside strings
    - Boolean string tests methods
    - string formatting methods
    - Boolean in keywords

In [38]:
#input()

print ("enter a small int:")
small_int = input()

enter a small int:
3

In [41]:
print("The small int is " + small_int)

The small int is 3

In [46]:
type(small_int)

str

In [42]:
print("enter your full name:")
full_name = input()

enter your full name:
Sunita Inderjit

In [44]:
# input() prompts

student_name = input("enter the student name:")
print("Hi " + student_name)

enter the student name:Sunita Inderjit
Hi Sunita Inderjit

In [45]:
type(student_name)

str

In [51]:
# print( )formatting with commas

name  = " Sunita"

print("Hello" + name + "!")

print("Say hello to", name, "who is from our city")

Hello Sunita!
Say hello to  Sunita who is from our city

In [55]:

print("I will pick you up @", 6, "for the party:)")

I will pick you up @ 6 for the party:)

In [56]:
num_error = 0
print("Int =", 14, "with strings causes", num_error, "Errors is comma format!")

Int = 14 with strings causes 0 Errors is comma format!

In [58]:
# Representing quotes inside of quoted strings

print('I said, " student, restart the kernel when cell not running"')

I said, " student, restart the kernel when cell not running"

In [59]:
# Boolean String test return True or False

"Python" .isalpha()

True

In [60]:
"3rd".isalnum()

True

In [61]:
"Save" .startswith("S")

True

In [62]:
"HEY" .islower()

False

In [63]:
"The End" .istitle()

True

In [64]:
cm_height = '175'
cm_height.isdigit()

True

In [65]:
cm_height ="176"
print("cm height:",cm_height, "is all digits =",cm_height.isdigit())

cm height: 176 is all digits = True

In [68]:
#String format methods

# .upper(), .lower(), .captialize()

print("ms. Brown is in her office." .capitalize())
print("ms. Brown is in her office." .upper())

Ms. brown is in her office.
MS. BROWN IS IN HER OFFICE.

In [70]:
print("time to SAVE your code".title())
print("time to SAVE your code".swapcase())
print("time to SAVE your code".lower())

Time To Save Your Code
TIME TO save YOUR CODE
time to save your code

In [71]:
#input formatting- formatting string input()

fav_color = input('What is your favorite color?:').lower()
print(fav_color)

What is your favorite color?:green
green

In [72]:
fav_color = input('What is your favorite color?:').upper()
print(fav_color)

What is your favorite color?:GREEN
GREEN

In [73]:
# searching with Boolean in Keyword

menu = "salad pasta sandwich pizza drinks desserts"
print('pizza' in menu)

True

In [74]:
menu = "salad pasta sandwich pizza drinks desserts"
print('Pizza' .lower() in menu.lower())

True

## Conditionals

    - compare operation
    - string comparion
    - condition elif and casting
    - math operation
    - conditional pratice

In [75]:
# Boolean conditional
# conditional use True or False

# if, else or pass

if False:
    print("This prints is statement after 'if' is True")
else:
    print("This prints if statement is Not True")

This prints if statement is Not True

In [76]:
if True:
    print("True means do something")
else:
    print("Not True means do something else")
    
hot_tea = True

if hot_tea:
    print("enjoy some hot tea!")
else:
    print("enjoy some tea, and perhaps try hot tea next time.")

True means do something
enjoy some hot tea!

In [78]:
someone_i_know = False
if someone_i_know:
    print("how have you been?")
else:
   
    pass


someone_i_know = True
if someone_i_know:
    print("how have you been?")
else:
    pass

how have you been?

In [79]:
someone_i_know = True
if someone_i_know:
    print("how have you been?")
else:
    print("nice to meet you")

how have you been?

In [80]:

favorite_book = input("Enter the title of a favorite book: ")

if favorite_book.istitle():
    print(favorite_book, "- nice capitalization in that title!")
else:
    print(favorite_book, "- consider capitalization throughout for book titles.")

Enter the title of a favorite book: The rain day
The rain day - consider capitalization throughout for book titles.

In [81]:
a_number = input("enter a positive integer number: ")

if a_number.isdigit():
    print(a_number, "is a positive integer")
else:
    print(a_number, "is not a positive integer")

enter a positive integer number: 8
8 is a positive integer

In [82]:
vehicle_type = input('"enter a type of vehicle that starts with "P": ')

if vehicle_type.upper().startswith("P"):
    print(vehicle_type, 'starts with "P"')
else:
    print(vehicle_type, 'does not start with "P"')

"enter a type of vehicle that starts with "P": passport
passport starts with "P"

## comparsion operator

In [85]:
3 > 5
3 <= 5

True

In [84]:
x = 3
x = 3
print("x not equal 9 is", x != 9)
print("x equal 3 is", x == 3)

x not equal 9 is True
x equal 3 is True

In [86]:
x = 9 + 4

In [87]:
x

13

In [88]:
# comparison operators in Conditionals

x = 21
if x > 25:
    print("x is already bigger than 25")
else:
    print("x was", x)
    x = 25
    print("now x is", x)

x was 21
now x is 25

In [89]:
x = 18
if x + 18 == x + x:
    print("Pass: x + 18 is equal to", x + x)
else:
    print("Fail: x + 18 is not equal to", x + x)

Pass: x + 18 is equal to 36

In [90]:
x = 18
test_value = 18
if x != test_value:
    print('x is not', test_value)
else:
    print('x is', test_value)

x is 18

In [91]:
# sring comparsion
msg = "Save the notebook"

if msg.lower() == "save the notebook":
    print("message as expected")
else:
    print("message not as expected")

message as expected

In [93]:
msg = "Save the notebook"
prediction = "save the notebook"

if msg.lower() == prediction.lower():
    print("message as expected")
else:
    print("message not as expected")

message as expected

In [94]:
# conditional elif

weather = input("Enter weather (sunny, rainy, snowy): ") 

if weather.lower() == "sunny":
    print("Wear a t-shirt")
elif weather.lower() == "rainy":
    print("Bring an umbrella and boots")
elif weather.lower() == "snowy":
    print("Wear a warm coat and hat")
else:
    print("Sorry, not sure what to suggest for", weather)

Enter weather (sunny, rainy, snowy): sunny
Wear a t-shirt

In [95]:
secret_num = "2"

guess = input("Enter a guess for the secret number (1-3): ")

if guess.isdigit() == False:
    print("Invalid: guess should only use digits")
elif guess == "1":
    print("Guess is too low")
elif guess == secret_num:
    print("Guess is right")
elif guess == "3":
    print("Guess is too high")
else:
    print(guess, "is not a valid guess (1-3)")

Enter a guess for the secret number (1-3): 2
Guess is right

In [96]:
# Casting
# int(), str(), float()

weight1 = '60' # a string
weight2 = 170 # an integer
# add 2 integers
total_weight = int(weight1) + weight2
print(total_weight)

230

In [97]:
age_new_student = input("enter age:")

grad_age = float(age_new_student) + 3.75
print("age upon graduation will be", grad_age)

enter age:21.0
age upon graduation will be 24.75

## Basic Math Concept

- addition +
- subtraction (-)
- multiplication (/)
- division (*)

In [98]:
print(230+150)
print(11*29)
print(100/50)
print(150-70)

380
319
2.0
80

## Nesting and Loops

4. Nesting and Loops
    -  nested conditional
    - escape sequence
    - while loop and incrementing
    - while Boolean loops

In [99]:
sandwich_type = input('"c" for Cheese or "v" for Veggie Special: ')

if sandwich_type.lower() == "c":
    # select cheese type
    cheese_type = input('"c" for Cheddar or "m" for Manchego: ')
    
    if cheese_type.lower() == "c":
        print("Here is your Cheddar Cheese sandwich")
    else:
        print("Here is your Manchego Cheese sandwich") 

else:
    print("Here is your Veggie Special")

"c" for Cheese or "v" for Veggie Special: Cheese
Here is your Veggie Special

In [100]:
print("Hi, welcome to the sandwich shop.  Please select a sandwich.")
sandwich_type = input('"c" for Cheese or "v" for Veggie Special: ')
# select sandwich type sandwich_type = input('"c" for Cheese or "v" for Veggie Special: ')
print()
    
if sandwich_type.lower() == "c":
    # select cheese type
    print("Please select a cheese.")
    cheese_type = input('"c" for Cheddar or "m" for Manchego: ')
    print()
    
    if cheese_type.lower() == "c":
        print("Here is your Cheddar Cheese sandwich.  Thank you.")
    elif cheese_type.lower() == "m":
        print("Here is your Manchego Cheese sandwich.  Thank you.") 
    else:
        print("Sorry, we don't have", cheese_type, "choice today.")

elif sandwich_type.lower() == "v":
    print("Here is your Veggie Special. Thank you.")
        
else:
    print("Sorry, we don't have", sandwich_type, "choice today.")
print()
print("Goodbye!")

Hi, welcome to the sandwich shop.  Please select a sandwich.
"c" for Cheese or "v" for Veggie Special: c

Please select a cheese.
"c" for Cheddar or "m" for Manchego: v

Sorry, we don't have v choice today.

Goodbye!

## Escape Sequence

  \\ backslash (\)
  \' single quote(')
  \" Double quote(")
  \t tab
  \n return or new line

In [101]:
print('Hello World!\nI am formatting print ')

Hello World!
I am formatting print

In [102]:
student_age = 17
student_name = "Kumesh"
print("STUDENT NAME\t\tAGE")
print(student_name,'\t' + str(student_age))

STUDENT NAME		AGE
Kumesh 	17

In [103]:
print("\"quotes in quotes\"")
print("I\'ve said \"save your notebook,\" so let\'s do it!")

"quotes in quotes"
I've said "save your notebook," so let's do it!

In [104]:
print("for a newline use \\n")

for a newline use \n

In [106]:
print("Hello" + '\n' + "World!")

Hello
World!

In [108]:
# this example never loops because the break has no conditions
while True:
    print('write forever, unless there is a "break"')
    break

number_guess = "0"
secret_number = "5"

while True:
    number_guess = input("guess the number 1 to 5: ")
    if number_guess == secret_number:
        print("Yes", number_guess,"is correct!\n")
        break
    else:
        print(number_guess,"is incorrect\n")

write forever, unless there is a "break"
guess the number 1 to 5: 6
6 is incorrect

guess the number 1 to 5: 7
7 is incorrect

guess the number 1 to 5: 5
Yes 5 is correct!

In [109]:


while True:
    weather = input("Enter weather (sunny, rainy, snowy, or quit): ") 
    print()

    if weather.lower() == "sunny":
        print("Wear a t-shirt and sunscreen")
        break
    elif weather.lower() == "rainy":
        print("Bring an umbrella and boots")
        break
    elif weather.lower() == "snowy":
        print("Wear a warm coat and hat")
        break
    elif weather.lower().startswith("q"):
        print('"quit" detected, exiting')
        break
    else:
        print("Sorry, not sure what to suggest for", weather +"\n")

Enter weather (sunny, rainy, snowy, or quit): snowy

Wear a warm coat and hat

In [110]:
seat_count = 0
while True:
    print("seat count:",seat_count)
    seat_count = seat_count + 1

    if seat_count > 4:
        break

seat count: 0
seat count: 1
seat count: 2
seat count: 3
seat count: 4

In [115]:
seat_count = 0
soft_seats = 0
hard_seats = 0
num_seats = 4

while True:
    seat_type = input('enter seat type of "hard","soft" or "exit" (to finish): ')
    
    if seat_type.lower().startswith("e"):
        print()
        break
    elif seat_type.lower() == "hard":
        hard_seats += 1
    elif seat_type.lower() == "soft":
        soft_seats += 1
    else:
        print("invalid entry: counted as hard")
        hard_seats += 1  
    seat_count += 1
    if seat_count >= num_seats:
        print("\nseats are full")
        break
        
print(seat_count,"Seats Total: ",hard_seats,"hard and",soft_seats,"soft" )

enter seat type of "hard","soft" or "exit" (to finish): 0
invalid entry: counted as hard
enter seat type of "hard","soft" or "exit" (to finish): 0
invalid entry: counted as hard
enter seat type of "hard","soft" or "exit" (to finish): 4
invalid entry: counted as hard
enter seat type of "hard","soft" or "exit" (to finish): exit

3 Seats Total:  3 hard and 0 soft